@import "./variables.scss";
@import "./typography.scss";

#banner {
    
    background-image: url('../../src/images/portfolio/homeBanner.jpg') ;
    background-size: cover;
    min-height: 25vh;
   
}

#bannerRow {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vw;
    
}

